@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

body{
    /* width: 1440px;
    height: 6940px; */
    background-color: #FFF;
}


/* styling heading section */

header{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: none;
}
.logo{
   
    display:flex;
    gap: 16px;  
}
.logo > img {
    width: 48px;
    height: 56.008px;
    margin-top: 49px;
}

.logo > h4{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
}
.travel {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800; 
}
header >ul{
    list-style: none;
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
    color: #424247;  
}


header > ul >li >a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;   
}
.home{
    color: #FF5400;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}
/* styling group1 */
.group1{
    height: 400px;
    background-image: url("assets/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    padding: 106px 287px;
    
}
.group1 > h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
}
.group1 > p {
    width: 676px;
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.input {
    width: 800px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    padding: 16px;
    justify-content: space-evenly;
}

.input > input {
    width: 174px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}
#when{
    width: 174px;
    border-radius: 8px;
    background: #FFF;
}
#type{
    width: 174px;
    border-radius: 8px;
    background: #FFF;
}
.input > button{
    width: 174px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    border: none;
}
.group2{
    display: flex;

}
.text1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.text1 > button {
    width: 174px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border: none;
    
}
.group3-text > h2{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.group3-text >p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    
}
.choose > h1{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.choose > p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    
}
.section1{
    width: 573px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.section2{
    width: 573px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.section3{
    width: 573px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-left: 50%;
    margin-top: 10px;
}
.section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.discount > h2{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.discount > p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    
}

.box1{
    position: relative;
    
}
.inner-box01{
    position: absolute;
    top: 50%; 
    left: 75%; 
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 20px;  
}
.inner-box02{
    position: absolute;
    top: 50%; 
    left: 25%; 
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 20px;  
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
.inner-box1 > span{
    display: flex;
    gap: 5px;
}

.inner-box01 > h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}
.satori-text{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.price {
    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800; 
}
.book-btn{
    width: 150px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border: none;
}
.pkg-btn{
    margin-top: 20px;
    margin-left: 45%;
    width: 210px;

    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border: none;
}
.lost{
    margin-top: 16px;
    display: flex;
}
.lost-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.see-btn{
    width: 174px;
    height: 40px;
    border-radius: 8px;
    background: #FF5400;  
}
.group7{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.side-img{
    width: 672px;   
}
.newsletter{
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;   
}
.newsletter > h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800; 
}
 .newsletter > p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
   
}
/* .news-input{
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.news-input > input{
    width: 200px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 30px;
}

.subscribe{
    border-radius: 8px;
    background: #FF5400;
    margin-top: 30px;
}
.footer{
    background: rgba(19, 19, 24, 0.05);
}
.logo1{
   
    display:flex;
    gap: 16px;
    margin-left: 40%;
}  
.logo1 > img {
    width: 48px;
    height: 56.008px;
    margin-top: 49px;
}

.logo1 > h4{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
}  
.footer > p {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400; 
}

.footer > img {
    margin-left: 45%;
}
.line{
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-top: 20px;
    margin-left: 20%;
}
.copywrite{
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    margin-left: 45%;
    
}
@media screen and (max-width: 600px) {

 .menu{
    display: block;
    width: 20px;
    margin-right:100px ;
}

header >ul{
    display: none;
} 
}