@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

body{
    /* width: 1440px;
    height: 6940px; */
    background-color: #FFF;
}


/* styling heading section */

header{
    display: flex;
    justify-content: space-between;
}

.logo{
   
    display:flex;
    gap: 16px;  
}
.logo > img {
    width: 48px;
    height: 56.008px;
    margin-top: 49px;
}

.logo > h4{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
}
.travel {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    
    font-weight: 800;
   
}
header >ul{
    list-style: none;
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
    color: #424247;  
}


header > ul >li >a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;   
}
.home{
    color: #FF5400;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}
/* styling group1 */
.group1{
    height: 400px;
    background-image: url("assets/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    padding: 106px 287px;
    
}
.group1 > h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
}
.group1 > p {
    width: 676px;
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.input {
    width: 800px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    padding: 16px;
    justify-content: space-evenly;
}

.input > input {
    width: 174px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}
#when{
    width: 174px;
    border-radius: 8px;
    background: #FFF;
}
#type{
    width: 174px;
    border-radius: 8px;
    background: #FFF;
}
.input > button{
    width: 174px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    border: none;
}
.group2{
    display: flex;

}
.text1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.text1 > button {
    width: 174px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border: none;
    
}
.group3-text > h2{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.group3-text >p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    
}
.choose > h1{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.choose > p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    
}
.section1{
    width: 573px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.section2{
    width: 573px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.section3{
    width: 573px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-left: 50%;
    margin-top: 10px;
}
.section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
@media screen and (max-width: 600px) {

   
}